{% extends "index.twig" %}
{% block body %}
<nav class="navbar navbar-toggleable-md fixed-top" color-on-scroll="50" datasqstyle="{&quot;bottom&quot;:null}"
     datasquuid="2af86e37-f15c-4faf-9a78-ee83476590a8" datasqbottom="842" style="bottom: 802px; z-index: 930;"
     sq-z-fixed="1">
    <div class="container">
        <div class="navbar-translate">
            <button class="navbar-toggler navbar-toggler-right navbar-burger" type="button" data-toggle="collapse"
                    data-target="#navbarToggler" aria-controls="navbarTogglerDemo02" aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-bar"></span>
                <span class="navbar-toggler-bar"></span>
                <span class="navbar-toggler-bar"></span>
            </button>
            <a class="navbar-brand" href="https://inksandnibs.wordpress.com">Inks&amp;Nibs</a>
        </div>
        <div class="collapse navbar-collapse" id="navbarToggler">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a href="logout.php" class="nav-link">
                        <i class="nc-icon nc-simple-add"></i>Nueva Entrada
                    </a>
                </li>
                <li class="nav-item">
                    <a href="logout.php" class="nav-link">
                        <i class="nc-icon nc-button-power"></i>Cerrar Sesión
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="page-header page-header-xs" data-parallax="true" style="background-image: url('../assets/img/fabio-mangione.jpg');">
    <div class="filter"></div>
</div>
    <div class="main">
<div class="section landing-section">
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
            <form class="contact-form" id="formData" name="formData"
                  method="post">
                <input type="hidden" id="token"
                       name="token" value="{{ token }}">
                <h3 class="text-center">Imagen</h3>
                <div class="col-md-6">
                    <label for="imgOrigin">Origen</label>
                    <select class="form-control" id="imgOrigin"
                            name="imgOrigin" required>
                        <option value="" disabled
                                selected>--Seleccionar Origen--
                        </option>
                        <option value="instagram">Instagram</option>
                        <option value="pinterest">Pinterest</option>
                        <option value="web">Web</option>
                    </select>
                </div>
                <div class="col-md-6">
                    <label for="imgUrl">Url Image</label>
                    <input class="form-control" placeholder="URL" id="imgUrl"
                           name="imgUrl" required>
                </div>
                <h3 class="text-center">Datos de la pluma</h3>
                <div class="col-md-5">
                    <label for="fpBrand">Marca</label>
                    <input class="form-control"
                           placeholder="Marca"
                           id="fpBrand" name="fpBrand">
                </div>
                <div class="col-md-5">
                    <label for="fpModel">Modelo</label>
                    <input class="form-control" placeholder="Modelo"
                           id="fpModel" name="fpModel">
                </div>
                <div class="col-md-2">
                    <label for="fpNib">Plumin</label>
                    <input class="form-control" placeholder="Plumin"
                           id="fpNib" name="fpNib">
                </div>
                <h3 class="text-center">Datos de la Tinta</h3>
                <div class="col-md-5">
                    <label for="inkBrand">Marca</label>
                    <input class="form-control" placeholder="Marca"
                           id="inkBrand" name="inkBrand">
                </div>
                <div class="col-md-5">
                    <label for="inkModel">Modelo</label>
                    <input class="form-control" placeholder="Modelo"
                           id="inkModel" name="inkModel">
                </div>
                <div class="col-md-2">
                    <label for="inkColor">Color</label>
                    <input class="form-control" placeholder="Color"
                           id="inkColor" name="inkColor">
                </div>
                <h3 class="text-center">Datos del Papel</h3>
                <div class="col-md-5">
                    <label for="paperBrand">Marca</label>
                    <input class="form-control" placeholder="Marca"
                           id="paperBrand" name="paperBrand">
                </div>
                <div class="col-md-5">
                    <label for="paperModel">Modelo</label>
                    <input class="form-control" placeholder="Modelo"
                           id="paperModel" name="paperModel">
                </div>

                <div class="col-md-6 offset-md-3">
                    <button class="btn btn-primary btn-block
                btn-round" id="guardarDatos">Guardar
                    </button>
                </div>
                <div id="formResult"></div>
            </form>
            </div>
        </div>
    </div>
</div>
    </div>
{% endblock %}

